<div id="browse_container" class="c">
  <div id="content_container">
    {{! --- PIECE CONTENT ---}}
    <div id="exhibition_piece_content"></div>

    <div id="navigation_container">
      <div class="rel">
        {{! --- NAVIGATION BUTTONS --- }}
        <nav id="exhibition_navigation" class="c"></nav>

        {{! --- PLAY CONTROLS --- }}
        <div id="exhibition_play_controls"></div>

        {{! --- TRACKBAR --- }}
        <section id="exhibition_piece_trackbar"></section>
      </div>
    </div>
  </div>

  <aside id="exhibition_piece_sidebar" class="c">
    <div class="rel">
      {{! --- SHARE BUTTONS ---}}
      <div id="exhibiton_piece_share" class="c"></div>

      {{! --- INFORMATION --- }}
      <div id="exhibition_description"></div>

      {{! --- COMMENTS --- }}
      <section id="exhibition_piece_comments" class="c"></section>
    </div>
  </aside>

  {{! XXX--- INFORMATION OVERLAY --- }}
  <aside id="exhibition_details" class="{{#show_details}}open{{/show_details}}">
    <div class="rel">
      <a href="javascript:;" id="exhibition_details_close"><i class="fa fa-remove"></i></a>

      <div id="information_container">
        {{! XXX--- EXHIBITION INFORMATION --- }}
        <div id="exhibition_information"></div>

        {{! XXX--- PAGE LIST --- }}
        <div id="exhibition_pagination"></div>
      </div>
    </div>
  </aside>
</div>