<div id="browse_container" class="c">
  <div id="navigation_container">
    <div class="rel">
      {{! --- NAVIGATION BUTTONS --- }}
      <nav id="exhibition_navigation" class="c"></nav>


      {{! --- PAGINATION BAR --- }}
      <aside id="exhibition_piece_pagination">
        <div id="exhibition_play_controls"></div>
        <div id="exhibition_pagination"></div>
      </aside>


      {{! --- SIDEBAR CONTENT --- }}
      <aside id="exhibition_piece_sidebar" class="c">
        <div id="exhibiton_piece_share" class="c"></div>
        <div id="exhibition_description"></div>
      </aside>

      {{! --- COMMENTS --- }}
      <section id="exhibition_piece_comments" class="c"></section>
    </div>
  </div>

  <div id="content_container">
    <div class="rel">
      {{! --- PIECE CONTENT ---}}
      <div id="exhibition_piece_content"></div>
    
      {{! --- TRACKBAR --- }}
      <section id="exhibition_piece_trackbar"></section>
    </div>
  </div>
</div>