@mixin transition($str) {-webkit-transition: #{$str};-moz-transition: #{$str};-ms-transition: #{$str};-o-transition: #{$str};transition: #{$str};}
@mixin animation($str) {-webkit-animation: #{$str};-moz-animation: #{$str};-ms-animation: #{$str};-o-animation: #{$str};animation: #{$str};}
@mixin transform-origin($str) {-webkit-transform-origin: #{$str};-moz-transform-origin: #{$str};-ms-transform-origin: #{$str};-o-transform-origin: #{$str};transform-origin: #{$str};}
@mixin clearfix() {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

@-webkit-keyframes pagination_loading {0% {opacity: 1;} 50% {opacity: .3;} 100% {opacity: 1;}}
@-moz-keyframes pagination_loading {0% {opacity: 1;} 50% {opacity: .3;} 100% {opacity: 1;}}
@-ms-keyframes pagination_loading {0% {opacity: 1;} 50% {opacity: .3;} 100% {opacity: 1;}}
@-o-keyframes pagination_loading {0% {opacity: 1;} 50% {opacity: .3;} 100% {opacity: 1;}}
@keyframes pagination_loading {0% {opacity: 1;} 50% {opacity: .3;} 100% {opacity: 1;}}

@-webkit-keyframes play_button_playing {0% {-webkit-transform: scale(1,1);} 33% {-webkit-transform: scale(.8,.8);} 67% {-webkit-transform: scale(1,1);}}
@-moz-keyframes play_button_playing {0% {-webkit-transform: scale(1,1);} 33% {-moz-transform: scale(.8,.8);} 67% {-moz-transform: scale(1,1);}}
@-ms-keyframes play_button_playing {0% {-ms-transform: scale(1,1);} 33% {-ms-transform: scale(.8,.8);} 67% {-ms-transform: scale(1,1);}}
@-o-keyframes play_button_playing {0% {-o-transform: scale(1,1);} 33% {-o-transform: scale(.8,.8);} 67% {-o-transform: scale(1,1);}}
@keyframes play_button_playing {0% {transform: scale(1,1);} 33% {transform: scale(.8,.8);} 67% {transform: scale(1,1);}}

@-webkit-keyframes rotate {0% {-webkit-transform: rotate(0deg);} 25% {-webkit-transform: rotate(90deg);} 50% {-webkit-transform: rotate(180deg);} 75% {-webkit-transform: rotate(270deg);} 100% {-webkit-transform: rotate(360deg);}}
@-moz-keyframes rotate {0% {-moz-transform: rotate(0deg);} 25% {-moz-transform: rotate(90deg);} 50% {-moz-transform: rotate(180deg);} 75% {-moz-transform: rotate(270deg);} 100% {-webkit-transform: rotate(360deg);}}
@-ms-keyframes rotate {0% {-ms-transform: rotate(0deg);} 25% {-ms-transform: rotate(90deg);} 50% {-ms-transform: rotate(180deg);} 75% {-ms-transform: rotate(270deg);} 100% {-webkit-transform: rotate(360deg);}}
@-o-keyframes rotate {0% {-o-transform: rotate(0deg);} 25% {-o-transform: rotate(90deg);} 50% {-o-transform: rotate(180deg);} 75% {-o-transform: rotate(270deg);} 100% {-webkit-transform: rotate(360deg);}}
@keyframes rotate {0% {transform: rotate(0deg);} 25% {transform: rotate(90deg);} 50% {transform: rotate(180deg);} 75% {transform: rotate(270deg);} 100% {transform: rotate(360deg);}}



body.browse_exhibition {
  margin: 0; padding: 0; height: 100%; width: 100%;

  #browse_container {
    position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 1000; height: 100%;
    #content_container {
      article.exhibition_piece, article.exhibition {
        position: absolute; top: 0; left: 0; right: 50px; bottom: 50px;
        &.piece_page {
          .loading_page {
            position: absolute; top: 0; left: 0; right: 0; bottom: 0;
            background: rgba(225,225,225,.9);
            .loading_icon {
              position: absolute; top: 50%; font-size: 100px; width: 86px; height: 86px; overflow: hidden; left: 0; right: 0; margin: -90px auto 0 auto; text-align: center; line-height: 1.0em;
              @include transform-origin('center center');
              @include animation('rotate 1.5s infinite linear');
            }
            h3 {position: absolute; margin: 30px auto 0 auto; width: 250px; left: 0; right: 0; top: 50%; font-size: 16px; text-align: center; }
            &.hide {opacity: 0;}
            @include transition('opacity .5s ease-in-out')
          }
          iframe {width: 100%; height: 100%;}
        }
      }


      #navigation_container {
        position: fixed; left: 0; right: 0; bottom: 0; z-index: 3900; padding: 0; height: 50px; background: rgb(0,0,0);
        #exhibition_navigation {
          z-index: 3000;
          * {z-index: 3000;}
          a, span {
            display: inline-block; font-size: 20px; width: 35px; height: 35px; overflow: hidden; background: rgb(0,0,0); color: rgb(255,255,255); text-decoration: none; text-align: center; line-height: 35px;
            i {
              @include transition('margin .2s ease-in-out')
            }
            @include transition('background-color .2s ease-in-out')
          }
          #exhibition_navigate_home {position: fixed; bottom: 50%; left: 0; margin: 0 0 74px 0;}
          #exhibition_navigate_exhibition {
            position: absolute; top: 10px; right: 175px;
          }
          #exhibition_navigation_buttons {
            position: absolute; bottom: 7px; right: 10px;
            a, span {font-size: 25px;}
            #exhibition_navigate_previous {clear: none; float: left; display: inline-block;}
            #exhibition_navigate_next {clear: none; float: right; display: inline-block;}
          }
          span, a.disabled, a:hover {background-color: rgb(100,100,100);}
          span, a.disabled {
            opacity: .3;
            i {margin: 0 !important;}
          }
        }

        #exhibition_piece_trackbar {
          position: absolute; left: 225px; right: 225px; bottom: 24px; height: 1px; background: rgba(255,255,255,1); z-index: 3020; -webkit-transition: height .2s .25s ease-in-out; -moz-transition: height .2s .25s ease-in-out; -ms-transition: height .2s .25s ease-in-out; -o-transition: height .2s .25s ease-in-out; transition: height .2s .25s ease-in-out;
          // &:hover {
          //   height: 20px;
          //   -webkit-transition: height .1s ease-in-out; -moz-transition: height .1s ease-in-out; -ms-transition: height .1s ease-in-out; -o-transition: height .1s ease-in-out; transition: height .1s ease-in-out;
          // }

          #exhibition_piece_trackbar_durationbar {position: absolute; top: -2px; left: 0; right: 100%; bottom: -2px; background: rgba(255,255,255,1); z-index: 3021;}
          #exhibition_piece_trackbar_durationbar:after {content: ""; position: absolute; right: -7px; top: -5px; display: block; width: 9px; height: 9px; border: 3px solid rgb(255,255,255); background: rgb(125,125,125); border-radius: 10px; z-index: 3025;};
          a.trackbar_event {
            position: absolute; top: -7px; left: 0; width: 6px; bottom: -7px; margin-left: -3px; background: rgb(255,255,255); opacity: .5; text-indent: -999px; overflow: hidden; z-index: 3022;
            &:hover {cursor: pointer;}
            &:nth-child(1) {margin-left: 0;}
            &.completed {opacity: 1;}
          }
        }

        #exhibition_piece_play_button {
          position: absolute; top: 16px; left: 170px; color: rgb(255,255,255); font-size: 20px;
          &:hover {opacity: .5;}
          &.disabled {opacity: .3;}
          &[data-status='stopped'] .playing {display: none;}
          &[data-status='playing'] .stopped {display: none;}
          &[data-status='playing'] {
            @include animation('play_button_playing 2s infinite')
          }
          @include transition('color .2s ease-in-out')
        }
      }
    }

    #exhibition_piece_sidebar {
      position: fixed; top: 0; right: 0; bottom: 50px; width: 50px; z-index: 3100; overflow: hidden; background: rgba(255,255,255,.9); border-left: 1px solid rgba(205,205,205,1);

      .open {opacity: 0; max-height: 0; @include transition('max-height .1s .1s ease-in-out, opacity .2s .1s ease-in-out');}
      .closed {opacity: 1; max-height: 100%; @include transition('max-height .1s .1s ease-in-out, opacity .2s .1s ease-in-out');}

      #exhibiton_piece_share {
        position: absolute; bottom: 0; left: 0; right: 0; z-index: 3010; padding: 8px 16px; height: 17px; overflow: hidden; border-top: 1px solid rgb(205,205,205);
        h2 {clear: none; float: left; padding: 0 8px 0 0; margin: 0; font-size: 16px; line-height: 1.0em;}
        ul {
          list-style: none; margin: 0; padding: 0;
          li {
            clear: none; float: left; margin: 0; padding: 0 3px; font-size: 16px; line-height: 1.0em;
            a {
              display: inline-block; text-decoration: none; color: rgb(0,0,0);
              &:hover {color: rgb(100,100,100);}
            }
          }
        }
      }

      #exhibition_description {
        position: absolute; top: 0; left: 0; right: 0; bottom: 93px; padding: 8px 15px; overflow: scroll;
      }

      #exhibition_piece_comments {
        position: absolute; bottom: 50px; left: 0; right: 0; z-index: 3010; padding: 8px 16px; height: 27px; overflow: hidden; border-top: 1px solid rgb(205,205,205);
      }

      &:hover {
        width: 350px;
        .open {opacity: 1; max-height: 100%; @include transition('max-height .1s .3s ease-in-out, opacity .2s .3s ease-in-out');}
        .closed {opacity: 0; max-height: 0; @include transition('max-height .1s .2s ease-in-out, opacity .2s .2s ease-in-out');}
        @include transition('width .2s .2s ease-in-out')
      }

      @include transition('width .2s .1s ease-in-out')
    }
  }

  #exhibition_details {
    position: fixed;  top: 100%; opacity: 0; right: 0; left: 0; bottom: 50px; z-index: 3600; background: rgba(0,0,0,.9); overflow: scroll;

    &.open {
      top: 0; opacity: 1;
      @include transition('top .3s ease-in-out, opacity .2s .2s ease-in-out');
    }

    #exhibition_details_close {
      position: fixed; top: 5px; right: 5px; z-index: 3601; display: block; width: 40px; height: 40px; background: rgba(0,0,0,.5); color: rgba(255,255,255,.7); border-radius: 20px; font-size: 20px; line-height: 40px; text-align: center; text-decoration: none;
      &:hover {color: rgb(255,255,255); background: rgb(100,100,100);}
    }

    #information_container {
      width: 750px; margin: 20px auto;
      &:after {@include clearfix();}

      #exhibition_information {
        clear: none; float: left; width: 50%; margin: 0 0 0 -5px;
        h1, h3, p {color: rgb(255,255,255);}
      }

      #exhibition_pagination {
        clear: none; float: right; width: 50%; margin: 0 -5px 0 0;
        ul.pagination {
          margin: 0; padding: 0; list-style: none;
          li {
            padding: 3px 5px; color: rgb(255,255,255);
            a {
              display: block; width: 100%; font-size: 16px; line-height: 1.0em; color: rgb(255,255,255); text-decoration: none;
              &:hover {color: rgb(100,100,100);}
              i.icon-circle {display: none;}
              i.icon-circle-blank {display: block;}
              @include transition('color .2s ease-in-out')
            }
  //          &.section {display: none; /*tmp*/}
  //          &.current {
  //            a {color: rgb(255,0,255);
  //              i.icon-circle {display: block;}
  //              i.icon-circle-blank {display: none;}
  //            }
  //          }
  //          &.loading {
  //            a {
  //              @include animation('pagination_loading .5s infinite')
  //            }
  //          }
          }
        }
      }
//      #exhibition_pagination_tooltip {
//        position: absolute; top: 0; left: -250px; z-index: 9000; background: #ccc; padding: 10px; width: 200px; overflow: hidden;
//        a {
//          text-decoration: none;
//          img {width: 200px; height: 200px; margin: 0 0 10px 0; border: 1px solid #ccc;}
//          h6 {font-size: 1.6em; font-weight: bold; text-align: center; padding: 0; margin: 0; color: #666;}
//          &:hover { }
//        }
//      }
    }

    @include transition('top .3s ease-in-out, opacity .2s .2s ease-in-out');
  }

  #offsite_frame {
    position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 999990;
    #offsite_frame_bg {position: fixed;  top: 0; left: 0; right: 0; bottom: 0; z-index: 999991; background: rgb(0,0,0); opacity: .8;}
    #offsite_frame_close {
      position: fixed; top: 35px; right: 35px; z-index: 999993; display: block; width: 40px; height: 40px; background: rgb(0,0,0); color: rgba(255,255,255,.7); border-radius: 20px; font-size: 20px; line-height: 40px; text-align: center; text-decoration: none;
      &:hover {color: rgb(255,255,255); background: rgb(100,100,100);}
    }
    #offsite_frame_container {
      position: fixed; top: 50px; left: 50px; right: 50px; bottom: 50px; padding: 25px; z-index: 999992; background: rgb(0,0,0);
      iframe {background: rgb(255,255,255);}
    }
  }

  #footer {
    display: none;
    position: fixed; bottom: 0; right: 0; opacity: .2; z-index: 2000; width: 250px;
    &:hover {opacity: 1;}
  }
}
