body.browse_exhibition {
  #content {
    position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 1000; width: 100%; height: 100%;
    article.exhibition_piece, article.exhibition {
      position: fixed; top: 0; left: 0; right: 300px; bottom: 0; z-index: 1010;
      &.piece_page {
        iframe {width: 100%; height: 100%;}
      }
    }
    #exhibition_navigation {
      z-index: 3000;
      * {z-index: 3000;}
      a, span {display: inline-block; width: 25px; height: 25px; overflow: hidden; background: rgb(0,0,0); color: rgb(255,255,255);}
      span {opacity: .5;}
      a:hover {background-color: rgb(50,50,50);}
      #exhibition_navigate_home {position: fixed; bottom: 50%; left: 0; margin: 0 0 52px 0;}
      #exhibition_navigate_exhibition {position: fixed; bottom: 50%; left: 0; margin: 0 0 26px 0;}
      #exhibition_navigate_previous {position: fixed; bottom: 50%; left: 0;}
      #exhibition_navigate_next {position: fixed; bottom: 50%; right: 300px;}
    }
    #exhibition_piece_play_button {
      &[data-status='stopped'] .playing {display: none;}
      &[data-status='playing'] .stopped {display: none;}
    }
    #exhibition_piece_pagination {
      position: fixed; top: 0; right: 250px; bottom: 0; width: 50px; z-index: 3010;
      background: #eee;
      ul.pagination {
        position: absolute; top: 100px; left: 0; right: 0; margin: 0; padding: 0; list-style: none;
        li {
          padding: 3px 5px;
          a {
            display: block; width: 100%; height: 24px; text-indent: -9999px; font-size: 0;
            background: #f0f;
            &:hover {}
          }
          &.section {display: none; /*tmp*/}
          &.current {
            a {background: #ff0;}
          }
        }
      }
      #exhibition_pagination_tooltip {
        position: absolute; top: 0; left: -250px; z-index: 9000; background: #ccc; padding: 10px; width: 200px; overflow: hidden;
        a {
          text-decoration: none;
          img {width: 200px; height: 200px; margin: 0 0 10px 0; border: 1px solid #ccc;}
          h6 {font-size: 1.6em; font-weight: bold; text-align: center; padding: 0; margin: 0; color: #666;}
          &:hover { }
        }
      }
    }
    #exhibition_piece_sidebar {
      position: fixed; top: 0; right: 0; bottom: 0; width: 250px; z-index: 3000;
    }
  }

  #footer {
    position: fixed; bottom: 0; right: 0; opacity: .2; z-index: 2000; width: 250px;
    &:hover {opacity: 1;}
  }
}
