<a id="exhibition_navigate_home" href="/"><i class="fa fa-archive" title="Home"></i></a>
<a id="exhibition_navigate_exhibition" href="{{exhibition.urls.canonical}}"><i class="fa fa-th-list"></i></a>
<div id="exhibition_navigation_buttons"></div>
