<a id="exhibition_navigate_home" href="/"><i class="icon-home" title="Home"></i></a>
<a id="exhibition_navigate_exhibition" href="{{exhibition.urls.canonical}}"><i class="icon-info"></i></a>
<div id="exhibition_navigation_buttons"></div>
