{{#piece}}
  {{#if ../piece_page}}
    <a id="exhibition_piece_play_button" data-status="stopped" rel="nofollow">
      <span class="stopped"><i class="icon-play" title="Play"></i></span>
      <span class="playing"><i class="icon-pause" title="Pause"></i></span>
    </a>
  {{else}}
    <span id="exhibition_piece_play_button" class="disabled">
      <span class="icon-stack" title="Play"><i class="icon-ban-circle icon-stack-base"></i><i class="icon-play"></i></span>
    </span>
  {{/if}}
{{/piece}}