{{#piece}}
  <a id="exhibition_piece_play_button" data-status="stopped" rel="nofollow">
    <span class="stopped"><i class="icon-play" title="Play"></i></span>
    <span class="playing"><i class="icon-pause" title="Pause"></i></span>
  </a>
{{/piece}}